<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>echarts地图下钻</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #062c49;
    }

    #regulationModelWrap {
      width: 100%;
      height: 100%;
    }

    .map-box {
      width: 400px;
      height: 360px;
      margin: 0 auto;
      margin-top: 30px;
    }

    .nav-box {
      display: flex;
      margin: 40px auto 0;
      width: 400px;
    }

    .nav-box .nav-item {
      display: flex;
      align-items: center;
    }

    .nav-box .nav-item img {
      margin: 0 12px;
    }

    .nav-box .nav-item .nav-name {
      padding: 4px 12px;
      color: #abfcff;
      font-size: 14px;
      cursor: pointer;
    }

    .nav-box .nav-bg {
      color: #00d2e8;
      background-image: url('./images/mbx.png');
      background-size: 100% 100%;
    }


    .map-tooltip-col {
      color: #fff;
      height: 24px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.05);
      margin-bottom: 2px;
      box-sizing: border-box;
      padding: 0 8px;
    }

    .map-tooltips-icon {
      width: 16px;
      height: 16px;
    }

    .green-map-tooltips-icon {
      background: url(./images/gd.png) center no-repeat;
    }

    .orange-map-tooltips-icon {
      background: url(./images/yd.png) center no-repeat;
    }

    .red-map-tooltips-icon {
      background: url(./images/rd.png) center no-repeat;
    }


    .radar-box-wrap {
      display: flex;
      flex-wrap: wrap;
    }

    .radar-box {
      width: 300px;
      height: 300px;
      margin-left: 30px;
    }

    .radar-box .city-name {
      color: #fff;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
    }

    .radar {
      width: 100%;
      height: 100%;
    }

    .line-box {
      width: 800px;
      height: 400px;
      margin: 30px auto 0;
    }

    .left-bar-box {
      width: 800px;
      height: 400px;
      margin: 30px auto 0;
    }
  </style>
  <script src="./js/axios.min.js"></script>
  <script src="./js/echarts.min.4.7.0.js"></script>
  <script src="./js/vue.global.3.0.11.js"></script>
</head>

<body>
  <div id="regulationModelWrap">
    <div class="nav-box">
      <div class="nav-item">
        <div @click="dropHandler('湖南省', -1)" class="nav-name nav-bg">首页</div>
        <img v-if="navList.length" src="./images/arraw-right.png" alt="" />
      </div>
      <div v-for="(item, index) in navList" v-bind:key="index" class="nav-item">
        <div @click="dropHandler(item.name, index)" v-bind:class="{ 'nav-bg': index !== (navList.length - 1) }"
          class="nav-name">
          {{ item.name }}
        </div>
        <img v-if="index !== (navList.length - 1)" src="./images/arraw-right.png" alt="" />
      </div>
    </div>
    <div ref="mapRef" class="map-box"></div>

    <div class="radar-box-wrap">
      <div v-for="(item, index) in radarData" v-bind:key="index" class="radar-box">
        <radar-com v-bind:datas="item"></radar-com>
        <div class="city-name">{{ item.name }}</div>
      </div>
    </div>

    <div class="line-box" ref="lineRef"></div>

    <div class="left-bar-box" ref="barRef"></div>
  </div>
</body>
<script>
  const app = Vue.createApp({
    // el: '#regulationModelWrap',
    data() {
      return {
        query: {
          monthValue: new Date(),
          indicatorsValue: '',
          indicatorLightValue: '',
          earlyWarningValue: '',
        },
        indicatorsOptions: [{ label: '综合', value: '综合' }],
        indicatorLightOptions: [{ label: '全部', value: '全部' }],
        earlyWarningOptions: [{ label: '不限', value: '不限' }],
        showRightMoreDetail: false,
        rankType: 0,
        contentTableTypeList: new Map([
          [
            '批而未供',
            {
              head: ['县市区', '批而未供土地面积（亩）', '已供土地面积（亩）', '比例'],
              body: [
                ['长沙市本级', 36565.7535, 75805.893, '48.24%'],
                ['望城区', 43929.7665, 80111.247, '54.84%'],
                ['长沙县', 70323.0825, 111517.8435, '46.98%'],
                ['宁乡市', 44623.9035, 68436.558, '65.20%'],
              ],
            },
          ],
          [
            '闲置土地',
            {
              head: ['县市区', '闲置土地面积（亩）', '已供土地面积（亩）', '比例'],
              body: [
                ['长沙市本级', 1696.00079, 75805.893, '2.24%'],
                ['望城区', 3789.50986, 80111.247, '4.73%'],
                ['长沙县', 2054.15247, 111517.8435, '1.84%'],
                ['浏阳市', 5482.23986, 62647.578, '8.75%'],
                ['宁乡市', 3644.98355, 68436.558, '5.33%'],
              ],
            },
          ],
          [
            '储备土地',
            {
              head: ['县市区', '已储备土地面积（亩）', '未储备土地面积（亩）', '比例'],
              body: [
                ['长沙市本级', 0, 48488.25, '0%'],
                ['望城区', 0, 15465.3, '0%'],
                ['长沙县', 71.883495, 18579.566505, '0.39%'],
                ['浏阳市', 8.98995, 17824.66005, '0.05%'],
                ['宁乡市', 0, 12257.85, '0%'],
              ],
            },
          ],
          [
            '去化周期',
            {
              head: ['县市区', '去化周期（月）', '其中：住宅', '其中：非住宅'],
              body: [
                ['长沙市本级', 13.6, 6.4, 45],
                ['长沙县', 16.4, 9.5, 47.5],
                ['浏阳市', 13.1, 10.2, 26.5],
                ['宁乡市', 20.3, 14.6, 62.7],
              ],
            },
          ],
          [
            '用地结构',
            {
              head: ['县市区', '批而未供土地面积（亩）', '已供土地面积（亩）', '比例'],
              body: [
                ['长沙市本级', 26510.5362, 4724.9373, '17.82%'],
                ['望城区', 12193.4466, 1272.4504, '10.44%'],
                ['长沙县', 21629.5431, 4509.1173, '20.85%'],
                ['浏阳市', 15872.1294, 3411.3411, '21.49%'],
                ['宁乡市', 19181.0549, 7090.8039, '36.97%'],
              ],
            },
          ],
        ]),
        contentTableTypeListCurrnt: '批而未供',
        showTrendChart: false, // 趋势图
        // 地图
        myCharts: null,
        mapOptions: {
          // tooltip: {
          //   show: true,
          //   trigger: 'item',
          // },
          tooltip: {
            show: true,
            trigger: 'item',
            backgroundColor: '#132E5E',
            padding: 8,
            formatter: function (item) {
              return `<div style="font-size: 16px;width:220px;">
                              <div style="color:#fff;margin-bottom:10px">${item.data.name}</div>
                              <div class="map-tooltip-col">
                                <div style="color: #00B5D3;">地市园区总数：</div>
                                <div style="color:#fff">${item.data.YQZS}</div>
                              </div>
                              <div class="map-tooltip-col">
                                <div style="color: #00B5D3;">国家级数量：</div>
                                <div style="color:#fff">${item.data.GJJSL}</div>
                              </div>
                              <div class="map-tooltip-col">
                                <div style="color: #00B5D3;">省级数量：</div>
                                <div style="color:#fff">${item.data.SJSL}</div>
                              </div>
                              <div class="map-tooltip-col">
                                <div style="color: #00B5D3;display:flex;align-items:center">
                                  <div class="map-tooltips-icon green-map-tooltips-icon"></div>
                                  绿色通行类数量：
                                </div>
                                <div style="color:#fff">${item.data.LSTXLSL}</div>
                              </div>
                              <div class="map-tooltip-col">
                                <div style="color: #00B5D3;display:flex;align-items:center">
                                  <div class="map-tooltips-icon orange-map-tooltips-icon"></div>
                                    橙色警示类数量：
                                </div>
                                <div style="color:#fff">${item.data.CSJSLSL}</div>
                              </div>
                              <div class="map-tooltip-col">
                                <div style="color: #00B5D3;display:flex;align-items:center">
                                  <div class="map-tooltips-icon red-map-tooltips-icon"></div>
                                    红色限制类数量：
                                </div>
                                <div style="color:#fff">${item.data.HSXZLSL}</div>
                              </div>
                            </div>`
            },
          },
          toolbox: {
            show: true,
          },
          geo: {
            map: '湖南省',
            zoom: 1.1,
            aspectScale: 0.95, //长宽比
            // 底层添加边框
            itemStyle: {
              borderColor: 'white',
              borderWidth: 5,
              shadowColor: '#fff',
              shadowBlur: 10,
              emphasis: {
                areaColor: {
                  type: 'linear',
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [
                    {
                      offset: 0,
                      color: '#3f15d6', // 0% 处的颜色
                    },
                    {
                      offset: 1,
                      color: '#d243cd', // 100% 处的颜色
                    },
                  ],
                  globalCoord: false, // 缺省为 false
                },
              },
            },
          },
          grid: {
            left: 0,
            right: 0,
          },
          series: [
            {
              name: '湖南省',
              type: 'map',
              mapType: '湖南省',
              zoom: 1.1,
              aspectScale: 0.95, //长宽比
              label: {
                show: false,
                normal: {
                  show: false,
                  color: '#fff',
                },
                emphasis: {
                  show: true,
                  fontSize: 16,
                  color: '#fff',
                },
                align: 'center',
              },
              itemStyle: {
                normal: {
                  areaColor: '#00accb',
                  borderColor: '#3767B6',
                  // opacity: 0.2
                },
                emphasis: {
                  //鼠标移入高亮显颜色
                  areaColor: '#f6b516',
                },
              },
              data: [],
              emphasis: {
                shodowoffsetX: 0,
                shodowoffsetY: 0,
                shadowBlur: 0,
                borderWidth: 1,
                shadowColor: '#ff3dd',
                areaColor: '#ff7044',
                lable: {
                  show: true,
                  textStyle: {
                    color: '#fff',
                  },
                },
              },
            },
          ],
        },
        currentCity: {
          name: '湖南省',
          code: 430000,
        },
        radarData: [
          {
            name: '长沙市',
            data: [50, 30, 80, 60, 10],
          },
          {
            name: '株洲市',
            data: [60, 50, 30, 20, 40],
          },
          {
            name: '湘潭市',
            data: [20, 60, 30, 70, 50],
          },
          {
            name: '衡阳市',
            data: [80, 50, 50, 20, 80],
          },
          {
            name: '常德市',
            data: [20, 40, 80, 50, 20],
          },
          {
            name: '岳阳市',
            data: [5, 80, 10, 30, 40],
          },
        ],
        navList: [],
        middleTopNavList: [
          { name: '批而未供', type: '' },
          { name: '用地结构', type: '' },
          { name: '去化周期', type: '' },
          { name: '储备土地', type: '' },
          { name: '闲置土地', type: '' },
        ],
        currentType: {
          name: '批而未供',
          type: '',
        },
        // 左侧单个雷达图
        singleRadarData: {
          name: '',
          data: [50, 30, 80, 60, 10],
        },
        isCounty: false,
        // 雷达图分数排名
        radarDistrictsRanked: [
          { name: '长沙市', score: 80 },
          { name: '株洲市', score: 80 },
          { name: '湘潭市', score: 75 },
          { name: '衡阳市', score: 70 },
          { name: '常德市', score: 70 },
          { name: '岳阳市', score: 65 },
          { name: '益阳市', score: 65 },
          { name: '张家界市', score: 65 },
          { name: '娄底市', score: 65 },
          { name: '怀化市', score: 65 },
          { name: '永州市', score: 65 },
          { name: '邵阳市', score: 50 },
          { name: '郴州市', score: 45 },
          { name: '湘西自治州', score: 45 },
        ],
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.initMap()
        this.initLine()
        this.initBar()
      })
    },
    methods: {
      onShowRightMoreDetail() {
        if (this.showRightMoreDetail === true) {
          this.rankType = 0
        }
        this.showRightMoreDetail = !this.showRightMoreDetail
      },
      onShowTrendChart() {
        this.showTrendChart = !this.showTrendChart
        this.showRightMoreDetail = 0
        setTimeout(() => {
          this.initLine()
          this.initBar()
        }, 500)
      },
      initMap() {
        this.myCharts = echarts.init(this.$refs.mapRef)
        this.myCharts.off('click')
        axios.get(`./mapJson/${this.currentCity.name}.json`, { withCredentials: true }).then((response) => {
          const res = response.data
          echarts.registerMap(this.currentCity.name, res)
          const d = []
          for (let i = 0; i < res.features.length; i++) {
            d.push({
              name: res.features[i].properties.name,
              value: 0,
              code: res.features[i].id ? res.features[i].id : res.features[i].properties.adcode,
              YQZS: 0,
              GJJSL: 0,
              SJSL: 0,
              LSTXLSL: 0,
              CSJSLSL: 0,
              HSXZLSL: 0,
            })
          }
          // this.mapOptions.series[0].data 为展示数据
          this.mapOptions.series[0].data = d
          this.mapOptions.series[0].mapType = this.currentCity.name
          this.mapOptions.geo.map = this.currentCity.name
          this.myCharts.setOption(this.mapOptions)
          window.addEventListener('resize', () => {
            this.myCharts.resize()
          })
          this.myCharts.on('click', (params) => {
            this.isCounty = false
            this.currentCity = {
              name: params.name,
              code: params.data.code,
            }
            if (this.navList.length > 0) {
              this.navList = this.navList.filter((item) => {
                return item.name !== this.currentCity.name
              })
            }
            let obj = JSON.parse(JSON.stringify(this.currentCity))
            this.navList.push(obj)
            if (this.navList.length > 1) {
              this.isCounty = true
            }
            if (this.myCharts) {
              this.myCharts.dispose()
            }
            this.initMap()
          })
        })
      },
      dropHandler(name, index) {
        this.currentCity.name = name
        if (name == '湖南省') {
          this.navList = []
        } else {
          this.navList = this.navList.filter((item, ind) => {
            return ind <= index
          })
        }
        if (this.navList.length > 1) {
          this.isCounty = true
        } else {
          this.isCounty = false
        }
        this.showTrendChart = false
        this.showRightMoreDetail = false
        this.rankType = 0
        this.initMap()
      },
      selectType(item) {
        this.currentType = item
      },
      initLine() {
        const lineCharts = echarts.init(this.$refs.lineRef)
        const option = {
          title: {
            text: '2020年6月～2021年6月趋势',
            textStyle: {
              color: '#fff',
              fontSize: 14,
              fontWeight: 'bold',
            },
            left: 'center',
          },
          xAxis: {
            type: 'category',
            data: ['2020/06', '2020/09', '2020/12', '2021/03', '2021/06'],
            axisLine: {
              lineStyle: {
                color: '#1e4079',
              },
            },
            axisLabel: {
              textStyle: {
                color: '#fff',
              },
            },
            axisTick: {
              show: false,
            },
            boundaryGap: false,
          },
          grid: {
            top: 30,
            left: 40,
            right: 30,
            bottom: 20,
          },
          yAxis: {
            type: 'value',
            axisLine: {
              lineStyle: {
                color: '#1e4079',
              },
            },
            axisLabel: {
              textStyle: {
                color: '#00b5d3',
              },
            },
            axisTick: {
              show: false,
            },
            splitLine: {
              lineStyle: {
                color: ['#1e4079'],
              },
            },
          },
          series: [
            {
              data: [520, 932, 301, 634, 1330],
              type: 'line',
              smooth: true,
              symbol: 'none',
              lineStyle: {
                color: '#fff',
                shadowColor: '#fff',
                shadowBlur: 10,
                shadowOffsetY: -1,
              },
              areaStyle: {
                normal: {
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: '#34f0c7' },
                    { offset: 1, color: 'rgba(0, 122, 95, 0)' },
                  ]),
                },
              },
            },
          ],
        }
        lineCharts.setOption(option)
        window.addEventListener('resize', () => {
          lineCharts.resize()
        })
      },
      initBar() {
        const barCharts = echarts.init(this.$refs.barRef)
        const option = {
          title: {
            text: '同比去年6月',
            textStyle: {
              color: '#fff',
              fontSize: 14,
              fontWeight: 'bold',
            },
            left: 'right',
          },
          xAxis: {
            type: 'category',
            data: ['2020-06', '2021-06'],
            axisLine: {
              lineStyle: {
                color: '#1e4079',
              },
            },
            axisLabel: {
              textStyle: {
                color: '#fff',
              },
            },
            axisTick: {
              show: false,
            },
          },
          grid: {
            top: 40,
            left: 40,
            right: 10,
            bottom: 20,
          },
          yAxis: {
            type: 'value',
            axisLine: {
              lineStyle: {
                color: '#1e4079',
              },
            },
            axisLabel: {
              textStyle: {
                color: '#00b5d3',
              },
            },
            axisTick: {
              show: false,
            },
            splitLine: {
              lineStyle: {
                color: ['#1e4079'],
              },
            },
          },
          series: [
            {
              data: [820, 932],
              type: 'bar',
              barWidth: 60,
              itemStyle: {
                normal: {
                  borderWidth: 2,
                  borderColor: '#00F6C6',
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: '#34f0c7' },
                    { offset: 1, color: 'rgba(0, 122, 95, 0)' },
                  ]),
                  shadowColor: '#00F6C6',
                  shadowBlur: 10,
                },
              },
            },
          ],
        }
        barCharts.setOption(option)
        window.addEventListener('resize', () => {
          barCharts.resize()
        })
      },
    },
  })
  console.log(app)
  app.component('radar-com', {
    props: ['datas'],
    template: '<div ref="radarRef" style="width: 100%; height: 100%"></div>',
    watch: {
      datas: {
        handler(val) {
          let that = this
          that.$nextTick(() => {
            that.initRadar()
          })
        },
        deep: true,
        immediate: true,
      },
    },
    methods: {
      initRadar() {
        console.log(this.$props.datas)
        const myRadar = echarts.init(this.$refs.radarRef)
        // var Data = [{ name: '长沙市', data: [85, 77, 66, 50, 30] }]
        let value = []
        let name = ''
        let indicator = []
        let radarData = []
        let scatterData = []
        let radarNameList = ['批而未供', '用地结构', '商品房去化周期', '储备土地', '闲置土地']
        name = this.$props.datas.name
        this.$props.datas.data.forEach(function (e, i) {
          value.push(e)
          var cor = 'green'
          console.log(e)
          if (40 <= e && e < 70) {
            cor = 'yellow'
          }
          if (e >= 70) {
            cor = 'red'
          }
          console.log(cor)
          indicator.push({
            text: radarNameList[i],
            max: 100,
            color: 'orange',
          })
          scatterData.push({
            value: [e, i],
            itemStyle: {
              normal: {
                color: cor,
                borderColor: cor,
                borderWidth: 2,
              },
            },
          })
        })
        radarData.push({ value: value, name: name })
        const option = {
          // backgroundColor: '#33333C',
          tooltip: {
            trigger: 'axis',
          },
          radar: [
            {
              indicator: indicator,
              name: {
                show: true,
                textStyle: {
                  // fontWeight: 'bold',
                  fontSize: 14,
                  color: '#eca07f',
                  backgroundColor: '#122d5b',
                  borderRadius: 3,
                  padding: [-10, -12],
                },
              },

              center: ['50%', '55%'],
              radius: '60%',
              // shape: 'circle',
              axisLine: {
                lineStyle: {
                  color: '#244987',
                },
              },
              axisTick: {
                show: false,
                lineStyle: {
                  color: 'rgba(255,255,255,0.3)',
                },
              },
              splitArea: {
                show: true,
                areaStyle: {
                  color: ['transparent'],
                },
              },
              splitLine: {
                show: true,
                lineStyle: {
                  width: 1,
                  color: '#244987',
                },
              },
            },
          ],
          polar: {
            center: ['50%', '55%'],
            radius: '60%',
          },
          angleAxis: {
            type: 'category',
            data: radarNameList,

            boundaryGap: false,
            clockwise: false,
            axisTick: {
              show: false,
            },
            axisLabel: {
              show: false,
            },
            axisLine: {
              show: false,
            },
            splitLine: {
              show: false,
            },
          },
          radiusAxis: {
            min: 0,
            max: 100,
            interval: 0,
            splitLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLabel: {
              color: 'red',
            },
          },
          series: [
            {
              name: '',
              type: 'radar',
              tooltip: {
                trigger: 'item',
              },
              // symbol: 'image://data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJFBMVEUAmv4Amv4Amv4Amv4Amv4Amv4Amv4Amv7M6//E6P/F6P////+TGAszAAAAB3RSTlMGke3ukIiJnEe+1gAAAAFiS0dECx/XxMAAAAAHdElNRQfkCg0EMAu2RnTvAAAAHklEQVQI12NgVBZgcC8vZVDvLGJQ7yoCsssYGI0FADwPBSW90mIFAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTEwLTEyVDIwOjQ4OjExKzA4OjAwhPRnigAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0xMC0xMlQyMDo0ODoxMSswODowMPWp3zYAAAAgdEVYdHNvZnR3YXJlAGh0dHBzOi8vaW1hZ2VtYWdpY2sub3JnvM8dnQAAABh0RVh0VGh1bWI6OkRvY3VtZW50OjpQYWdlcwAxp/+7LwAAABZ0RVh0VGh1bWI6OkltYWdlOjpIZWlnaHQANolA7qMAAAAVdEVYdFRodW1iOjpJbWFnZTo6V2lkdGgANkQuCn4AAAAZdEVYdFRodW1iOjpNaW1ldHlwZQBpbWFnZS9wbmc/slZOAAAAF3RFWHRUaHVtYjo6TVRpbWUAMTYwMjUwNjg5MUjgekIAAAARdEVYdFRodW1iOjpTaXplADE1OEJCugB2PgAAAEZ0RVh0VGh1bWI6OlVSSQBmaWxlOi8vL2FwcC90bXAvaW1hZ2VsYy9pbWd2aWV3Ml85XzE2MDAzNDMyMzI2NjQ2MzE2XzE2X1swXRt8OcgAAAAASUVORK5CYII=',
              symbol: 'circle',
              symbolSize: 0,
              itemStyle: {
                normal: {
                  color: '#fff',
                  borderColor: 'rgba(127, 255, 210, 0.5)',
                  borderWidth: 15,
                },
              },
              lineStyle: {
                color: '#fff',
                width: 2,
              },
              areaStyle: {
                opacity: 1,
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: '#FFDB27',
                    },
                    {
                      offset: 0.3,
                      color: 'rgba(255, 219, 39, 0.8)',
                    },
                    {
                      offset: 0.6,
                      color: 'rgba(255, 219, 39, 0.5)',
                    },
                    {
                      offset: 1,
                      color: 'rgba(255, 219, 39, 0)',
                    },
                  ],
                  false
                ),
                type: 'default',
              },
              data: radarData,
            },
            {
              name: '',
              type: 'scatter',
              coordinateSystem: 'polar',
              symbolSize: 10,
              data: scatterData,
            },
          ],
        }
        // const option = {
        //   tooltip: {
        //     trigger: 'item',
        //     position: 'inside',
        //   },
        //   // grid: {
        //   //   bottom: '40%',
        //   //   left: 20,
        //   //   right: 20,
        //   // },
        //   radar: {
        //     // shape: 'circle',
        //     center: ['50%', '55%'],
        //     radius: '60%',
        //     name: {
        //       textStyle: {
        //         color: '#eca07f',
        //         backgroundColor: '#122d5b',
        //         borderRadius: 3,
        //         padding: [-10, -12],
        //       },
        //     },
        //     splitArea: {
        //       show: false,
        //     },
        //     splitLine: {
        //       lineStyle: {
        //         color: ['#244987'],
        //       },
        //     },
        //     axisLine: {
        //       lineStyle: {
        //         color: '#244987',
        //       },
        //     },
        //     indicator: [
        //       { name: '批而未供', max: 100 },
        //       { name: '用地结构', max: 100 },
        //       { name: '商品房去化周期', max: 100 },
        //       { name: '储备土地', max: 100 },
        //       { name: '闲置土地', max: 100 },
        //     ],
        //   },
        //   series: [
        //     {
        //       name: '',
        //       type: 'radar',
        //       symbolSize: 8,
        //       lineStyle: {
        //         color: '#fff',
        //         width: 2,
        //       },
        //       areaStyle: {
        //         normal: {
        //           // color: '#FFDB27',
        //           color: new echarts.graphic.LinearGradient(
        //             0,
        //             0,
        //             0,
        //             1,
        //             [
        //               {
        //                 offset: 0,
        //                 color: '#FFDB27',
        //               },
        //               {
        //                 offset: 0.3,
        //                 color: 'rgba(255, 219, 39, 0.8)',
        //               },
        //               {
        //                 offset: 0.6,
        //                 color: 'rgba(255, 219, 39, 0.5)',
        //               },
        //               {
        //                 offset: 1,
        //                 color: 'rgba(255, 219, 39, 0)',
        //               },
        //             ],
        //             false
        //           ),
        //         },
        //       },
        //       itemStyle: {
        //         color: (params) => {
        //           console.log(params, 'params````````')
        //           let color = 'green'
        //           params.value.forEach((item) => {
        //             if (40 <= item < 70) {
        //               color = 'yellow'
        //             }
        //             if (item >= 70) {
        //               color = 'red'
        //             }
        //           })
        //           console.log(color)

        //           return color
        //         },
        //         symbol: 'circle',
        //         borderWidth: 4,
        //         borderColor: 'rgba(127, 255, 210, 0.5)',
        //       },
        //       data: [
        //         {
        //           value: this.datas.data,
        //           name: this.datas.name,
        //         },
        //       ],
        //     },
        //   ],
        // }
        myRadar.setOption(option)
        window.addEventListener('resize', () => {
          myRadar.resize()
        })
      },
    },
  })

  app.mount('#regulationModelWrap')
</script>

</html>